
#main{
    margin:auto;
}

.odd {
    text-align: center;
    margin:auto;
    margin-bottom: 0px;
    padding: 20 20 20 20;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 28px;
}

.even {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width:1000px){
    div{
        width: 60%
    }
    .even {
        margin-top: 0px;
    }
}

